## Criando a tabela dos modelos dos carros

In [1]:
import pandas as pd

In [5]:
car_price = pd.read_csv("../car_prices_1p_2014.csv")

In [7]:
car_price.head(0)

Empty DataFrame
Columns: [year, make, model, trim, body, transmission, vin, state, condition, odometer, color, interior, seller, mmr, sellingprice, diaSemana, data, fuso_horario, zona]
Index: []

In [8]:
vendas = pd.read_csv("../car_prices_1p_2014.csv", usecols=["seller", "year", "make", "model", "trim", "body", "transmission", "vin", 
                                                           "condition", "odometer", "color", "interior", "mmr", "sellingprice", "state",
                                                            "diaSemana", "data", "fuso_horario", "zona"])

In [9]:
carros = pd.read_csv("../car_prices_1p_2014.csv", usecols=["year", "make", "model", "trim", "body", "transmission", "vin", "condition", 
                                                           "odometer", "color", "interior"])

In [32]:
vendedores = pd.read_csv("../tabelas/vendedores.csv")

## Trabalhando na tabela carros para a relação com vendas

In [12]:
carros = carros.drop_duplicates()

In [13]:
carros["car_id"] = range(1, len(carros) + 1)

,year,make,model,trim,body,transmission,vin,condition,odometer,color,interior,car_id
0,2012,Nissan,Altima,2.5 S,Sedan,automatic,1n4al2ap9cc126546,19.0,37887.0,white,black,1
1,2007,Dodge,Charger,RT,Sedan,automatic,2b3ka53h07h761901,35.0,1.0,black,black,2
2,2014,Ford,Escape,SE,SUV,automatic,1fmcu0gx7eua39653,45.0,29131.0,gray,black,3
3,2014,Ford,Escape,SE,SUV,automatic,1fmcu9g96eua24082,43.0,26035.0,white,gray,4
4,2014,Ford,Fusion,SE,Sedan,automatic,3fa6p0h78er301488,44.0,23074.0,white,black,5
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2014,Toyota,Corolla,LE,Sedan,automatic,5yfburhe5ep050360,2.0,23713.0,green,gray,157
157,2013,Ford,Escape,SEL,SUV,automatic,1fmcu0hxxduc53758,46.0,12924.0,blue,black,158
158,2013,Hyundai,Sonata,GLS,Sedan,automatic,5npeb4ac3dh742854,5.0,7529.0,white,beige,159
159,2011,BMW,3 Series,335i,Sedan,automatic,wbapm5c52be576103,49.0,37377.0,white,beige,160
160,2012,GMC,Acadia,SLT-1,SUV,automatic,1gkkrred5cj311506,5.0,69223.0,white,gray,161

In [15]:
len(carros)

161

### Associando a tabela de carros com os vendas

In [16]:
#Mapeando transmissão
vendas = vendas.merge(carros, on=["year", "make", "model", "trim", "body", "transmission", "vin", "condition", 
                                "odometer", "color", "interior"], how="left")

In [42]:
vendas = vendas[["seller", "car_id", "mmr", "sellingprice", "state", "diaSemana", "data", "fuso_horario", "zona"]].copy()

In [19]:
vendas

,seller,car_id,mmr,sellingprice,state,diaSemana,data,fuso_horario,zona
0,nissan-infiniti lt,1,12050.0,19000.0,ca,Monday,06-01-2014 12:30:00,GMT-0800,PST
1,wells fargo dealer services,2,12450.0,1200.0,ca,Wednesday,08-01-2014 12:00:00,GMT-0800,PST
2,ford motor credit company,3,16200.0,16700.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
3,ford motor credit company,4,18900.0,18600.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
4,ford motor credit company,5,15400.0,16800.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
...,...,...,...,...,...,...,...,...,...
156,enterprise-tra,157,13350.0,11200.0,pa,Thursday,02-01-2014 08:29:00,GMT-0800,PST
157,ford motor credit company llc,158,18950.0,18300.0,il,Monday,13-01-2014 11:00:00,GMT-0800,PST
158,pee dee auto buyers,159,14350.0,14800.0,sc,Wednesday,01-01-2014 10:00:00,GMT-0800,PST
159,financial services remarketing (lease),160,25000.0,25025.0,fl,Monday,13-01-2014 12:00:00,GMT-0800,PST
160,premium auto wholesale,161,18100.0,19500.0,ca,Wednesday,08-01-2014 12:00:00,GMT-0800,PST

### Associando a tabela de vendas com os vendedores

In [43]:
#Mapeando marcas
vnd_mapa = dict(zip(vendedores["seller"], vendedores["vdr_id"]))

In [44]:
vendas["vnd_vdr_id"] = vendas["seller"].map(vnd_mapa)

In [46]:
vendas = vendas[["vnd_vdr_id", "car_id", "mmr", "sellingprice", "state", "diaSemana", "data", "fuso_horario", "zona"]]

#### Adicionando id à tabela carros

In [48]:
vendas["vnd_id"] = range(1, len(vendas) + 1)

In [49]:
vendas = vendas[["vnd_id", "vnd_vdr_id", "car_id", "mmr", "sellingprice", "state", "diaSemana", "data", "fuso_horario", "zona"]]

In [50]:
vendas

,vnd_id,vnd_vdr_id,car_id,mmr,sellingprice,state,diaSemana,data,fuso_horario,zona
0,1,1,1,12050.0,19000.0,ca,Monday,06-01-2014 12:30:00,GMT-0800,PST
1,2,2,2,12450.0,1200.0,ca,Wednesday,08-01-2014 12:00:00,GMT-0800,PST
2,3,3,3,16200.0,16700.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
3,4,3,4,18900.0,18600.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
4,5,3,5,15400.0,16800.0,ca,Tuesday,07-01-2014 13:00:00,GMT-0800,PST
...,...,...,...,...,...,...,...,...,...,...
156,157,54,157,13350.0,11200.0,pa,Thursday,02-01-2014 08:29:00,GMT-0800,PST
157,158,8,158,18950.0,18300.0,il,Monday,13-01-2014 11:00:00,GMT-0800,PST
158,159,7,159,14350.0,14800.0,sc,Wednesday,01-01-2014 10:00:00,GMT-0800,PST
159,160,55,160,25000.0,25025.0,fl,Monday,13-01-2014 12:00:00,GMT-0800,PST
160,161,56,161,18100.0,19500.0,ca,Wednesday,08-01-2014 12:00:00,GMT-0800,PST

### Escrevendo os dados no CSV

In [51]:
vendas.to_csv("../tabelas/vendas.csv", index=False)